@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Por: Deivid Camargos</p>
<p><strong>Github: </strong><a href="https://github.com/DeividCamargos">github.com/DeividCamargos</a></p>
<p><strong>Linkedin: </strong><a href="https://www.linkedin.com/in/deivid-camargos-4bba661a1/">Linkedin.com/deivid-camargos</a></p>